{% extends "layout.html" %}

{% block title %}
  History
{% endblock %}

{% block main %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Symbol
        <th scope="col">Shares
        <th scope="col">Price
        <th scope="col">Transacted
    <tbody>
      {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.symbol }}
          <td>{{ transaction.shares }}
          <td>{{ transaction.price }}
          <td>{{ transaction.time }}
      {% endfor %}
  </table>
{% endblock %}
