{% extends "layout.html" %}

{% block title %}
  Sell
{% endblock %}

{% block main %}
  <form action="/sell" method="post">
    <div class="form-group">
      <select class="form-control" name="symbol">
        <option disabled {% if symbol is none %} selected {% endif %} value="">Symbol
        {% for sym in symbols %}
          <option {% if sym == symbol %} selected {% endif %} value={{ sym }}>{{ sym }}
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <input autocomplete="off" class="form-control" min="0" name="shares" placeholder="Shares" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
  </form>
{% endblock %}
